@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');
:root{
    --texto:'Alike',serif;

    --titulo:4.2rem;
    --subtitulo:1.8rem;
    --cuerpo:1rem;
    --anotacion:.5rem;

    --arena:#F4EBE6;
    --azul:#CFE1F5;
    --blanco:#FCFCFC;
    --negro:#1E1E1E;
    --rosa:#FF5FA2;
    --rosa-pastel: #FEDCEC; 
    
}

/*Formatear*/
*{
    font-family:var(--texto);
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*Navbar*/
.navbar{
    font-size:var(--subtitulo);
    color:var(--blanco);
    background-color:var(--negro);
    padding: 20px;
    width: 100%;
    text-align: center;
}
/*Titulo*/
.title{
    text-align: center;
}

h1{
    font-size:var(--titulo);
    color:var(--rosa);
}

.tour{
    font-size:var(--subtitulo);
    color:#F58FB3;
}
/*Cards*/
.cards{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:repeat(7,1fr);
    gap: 10px;
}
.color{
    background-color:var(--arena);
    height:19rem;
    width: 14rem;
}
/*Galeria*/
/*Footer*/
